ul {
	list-style:none;
}
.footer	{
	background: url("/assets/images/Panorama1.png");
	background-repeat:		repeat;
	-webkit-background-size: cover;
	padding-top: 75px;
	padding-bottom:75px;
	}
.footer p{
	font-size: 16px;
	font-family:"Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	color:#FFFFFF;
	text-align:		center;
	font-style:		normal;
}
.traka{
	background: url("/assets/images/ImportedLayersCopy.png");
	height:			6px;
	width:			100%;
	margin-top:		50px;
	margin-bottom:	50px;
}
.naslov	{
	background: url("/assets/images/Panorama3.png") no-repeat center center fixed;
	-webkit-background-size: 	cover;
	-moz-background-size: 		cover;
	height: 100%; 
}
.naslov img{
	margin:300px auto;
	width:100%;
}
.container2{
}
.container2 .prva {
	display:none;
	width: 100%;
	height: 100%;
	top: 50px;
	left: 250px;
}	
.container2 .druga {
	width: 100%;
	height: 100%;
	top: 200px;
	left: 90px;
}
.container2 .treca {
	width: 100%;
	height: 100%;
	top: 430px;
	left: 330px;
}
.container2 .cetvrta {
	width: 100%;
	height: 100%;
	top: 120px;
	left: 570px;
}
.container2 .peta {
	display:none;
	width: 100%;
	height: 100%;
	top: 430px;
	left: 570px;
}
.container2 .sesta {
	display:none;
	width: 100%;
	height: 100%;
	top: 545px;
	left: 620px;
}
.prveslike1	{
	margin:auto;
}
.prveslike2	{	
}
.prveslike3	{	
}
.container3 {
	
	display: 			block;
    margin: 			0px auto;
}
.container3 img{
 	border: 			1px none;
 	margin:				0 auto;
 	display: 			block;
}

@media (min-width: 600px) {
    .container2{
    	height:			1050px;
		width:			75%;
		position:		relative;
		margin:			0px auto;
	}
	.container2 .prva {
		position:		absolute;
	}	
	.container2 .druga {
		width: 			auto;
		height:			auto;
		position:		absolute;
	}
	.container2 .treca {
		width: 			auto;
		height:			auto;
		position:		absolute;
	}
	.container2 .cetvrta {
		width: 			auto;
		height:			auto;
		position:		absolute;
	}
	.container2 .peta {
		width: auto;
		height:auto;
		position:		absolute;
	}
	.container2 .sesta {
		position:		absolute;
	}
	.prveslike1	{
		position:		relative;
		margin-left:	320px;
		float:			left;
		margin-top:		20px;
	}
	.prveslike2	{
		position:		relative;
		margin-left:	-20px;
		margin-top:		20px;
		float:			left;
	}
	.prveslike3	{
		margin-left:	-20px;
		margin-top:		20px;
		float:			left;
		position:		relative;
	}
	.container3 {
		height:			150px;
		width:			75%;
		position:		relative;
		margin: 		1px auto;
	}
	.container3 img{
		display: 		inline;
		padding: 		10px 40px;
		margin-top: 	35px;
	}
}
