.headline	{
	background: 				url("/assets/images/Panorama3.png") no-repeat center center fixed;
	-webkit-background-size: 	cover;
	-moz-background-size: 		cover;
	height: 					400px; 
}
.headline img{
	margin:				180px auto;
	width:				100%;
}
ul {
	list-style:			none;
}
.footer	{
	background: 			url("/assets/images/Panorama1.png");
	background-repeat:		repeat;
	-webkit-background-size: cover;
	padding-top: 			75px;
	padding-bottom:			75px;
	}
.footer p{
	font-size: 		16px;
	font-family:	"Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	color:			#FFFFFF;
	text-align:		center;
	font-style:		normal;
}
.tray{
	background: 	url("/assets/images/ImportedLayersCopy.png");
	height:			6px;
	width:			100%;
	margin-top:		20px;
	margin-bottom:	25px;
}
.first_img.col1	{
}
.first_img.col2	{	
}

.first_img.col3	{	
}
.first_img ul {
	padding-left: 			0;
}
.first_img ul li img {
	display:			inline;
	width: 				100%;
	padding: 			10px;
}

.container2 {
	display: 			block;
    margin: 			0px auto;
}
.container2 img{
 	border: 			1px none;
 	margin:				0 auto;
 	display: 			block;
}
.container3{
}
.container3 .first {
	display:		none;
	width: 			100%;
	height: 		100%;
	top: 			50px;
	left: 			250px;
}	
.container3 .second {
	width: 			100%;
	height: 		100%;
	top: 			200px;
	left: 			90px;
}
.container3 .third {
	width: 			100%;
	height: 		100%;
	top: 			430px;
	left: 			330px;
}
.container3 .fourth {
	width: 			100%;
	height: 		100%;
	top: 			120px;
	left: 			570px;
}
.container3 .fifth {
	display:		none;
	width: 			100%;
	height: 		100%;
	top: 			430px;
	left: 			570px;
}
.container3 .sixth {
	display:		none;
	width: 			100%;
	height: 		100%;
	top: 			545px;
	left: 			620px;
}

@media (min-width: 600px) {
	.headline {
		height: 	100%;
	}
	.headline img{
	margin:			300px auto;
	}
	.tray{
	margin-top:		107%	50px;
	margin-bottom:	50px;
	}
	.first_img.col1	{
		float:				left;
		position:		relative;
		margin-left:		280px;
		margin-top:			20px;
		padding:			10px;
	}
	.first_img.col2	{
		float:				left;
		position:		relative;
		margin-left:		-20px;
		margin-top:			20px;
		padding:			10px;
	}
	.first_img.col3	{
		float:				left;
		position:		relative;
		margin-left:		-20px;
		margin-top:			20px;
		padding:			10px;
	}
	.first_img ul {
		padding-left: 		20px;
	}
	
	.container2 {
		height:			150px;
		width:			75%;
		position:		relative;
		margin: 		1px auto;
	}
	.container2 img{
		display: 		inline;
		padding: 		20px 25px;
		margin-top: 	10px;
	}

    .container3{
    	height:			1050px;
		width:			75%;
		position:		relative;
		margin:			0px auto;
	}
	.container3 .first {
		position:		absolute;
		display: 		block;
		width: 			auto;
		height:			auto;
	}	
	.container3 .second {
		width: 			auto;
		height:			auto;
		position:		absolute;
	}
	.container3 .third {
		width: 			auto;
		height:			auto;
		position:		absolute;
	}
	.container3 .fourth {
		width: 			auto;
		height:			auto;
		position:		absolute;
	}
	.container3 .fifth {
		width: 			auto;
		height:			auto;
		position:		absolute;
		display: 		block;
	}
	.container3 .sixth {
		position:		absolute;
		display: 		block;
		width:			auto;
		height:			auto;
	}
}
